# Set the default code owner for all files to be the web-presence team
* @hashicorp/web-devdot

# Content CODEOWNERS
/docs @hashicorp/vault-education-approvers @hashicorp/education

# Terraform documentation ownership
/content/terraform-plugin-framework @hashicorp/terraform-core-plugins @hashicorp/terraform-education
/content/terraform-plugin-log @hashicorp/terraform-core-plugins @hashicorp/terraform-education
/content/terraform-plugin-mux @hashicorp/terraform-core-plugins @hashicorp/terraform-education
/content/terraform-plugin-sdk @hashicorp/terraform-core-plugins @hashicorp/terraform-education
/content/terraform-plugin-testing @hashicorp/terraform-core-plugins @hashicorp/terraform-education
/content/terraform-docs-agents @hashicorp/team-hcpt-agent-engineering
/content/terraform-mcp-server @hashicorp/team-docs-packer-and-terraform
/content/terraform-migrate @hashicorp/team-docs-packer-and-terraform
/content/terraform-cdk @hashicorp/cdktf

/content/terraform @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform
/content/terraform/*/docs/language/backend/azurerm.mdx @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-azure
/content/terraform/*/docs/language/backend/gcs.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-eco-hybrid-cloud
/content/terraform/*/docs/language/backend/kubernetes.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-eco-hybrid-cloud
/content/terraform/*/docs/language/backend/s3.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-aws

/content/terraform-docs-common/ @hashicorp/team-docs-packer-and-terraform
/content/terraform-docs-common/docs/plugin/ @hashicorp/terraform-core-plugins
/content/terraform-docs-common/data/plugin-nav-data.json @hashicorp/terraform-core-plugins

/content/terraform-enterprise @hashicorp/team-docs-packer-and-terraform @hashicorp/ptfe-review

# Vault documentation ownership
/content/vault/                                    @hashicorp/vault-education-approvers

# Sentinel documentation ownership
/content/sentinel/ @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-compliance

# Well-architected framework
/content/well-architected-framework/ @hashicorp/well-architected-education-approvers

# HCP-docs documentation ownership
/content/hcp-docs/ @hashicorp/education
/content/hcp-docs/img/docs/hcp-core/ @hashicorp/vault-education-approvers

# HCP Consul Docs
/content/hcp-docs/content/docs/consul/ @hashicorp/consul-docs
/content/hcp-docs/img/docs/consul/ @hashicorp/consul-docs

# HCP Vault & HCP Vault Radar docs
/content/hcp-docs/content/docs/vault* @hashicorp/vault-education-approvers
/content/hcp-docs/content/partials/vault* @hashicorp/vault-education-approvers
/content/hcp-docs/img/docs/vault* @hashicorp/vault-education-approvers

# HCP Boundary docs
/content/hcp-docs/content/docs/boundary/ @hashicorp/boundary-education-approvers
/content/hcp-docs/img/docs/boundary/ @hashicorp/boundary-education-approvers

# HCP IAM
/content/hcp-docs/content/partials/hcp-administration/ @hashicorp/education @hashicorp/cloud-access-control @hashicorp/cloud-identity
/content/hcp-docs/content/docs/hcp/iam/ @hashicorp/education @hashicorp/cloud-access-control @hashicorp/cloud-identity
/content/hcp-docs/content/img/docs/hcp-core/ @hashicorp/education @hashicorp/cloud-access-control @hashicorp/cloud-identity

# Boundary
/content/boundary/ @hashicorp/boundary-education-approvers @hashicorp/boundary

# Consul
/content/consul/ @hashicorp/consul-docs @hashicorp/consul-selfmanage-maintainers

#Vagrant
/content/vagrant @hashicorp/Vagrant

# Nomad
/content/nomad/ @hashicorp/nomad-docs @hashicorp/nomad-eng 

# Packer
/content/packer @hashicorp/team-docs-packer-and-terraform @hashicorp/packer